app_onix/onix_client/OnixClientCenter/OnixClientCenter/obj/*
app_onix/onix_client/OnixClientCenter/OnixClientCenter/bin/*
app_onix/onix_client/OnixClientCenter/.vs/*
app_onix/onix_client/OnixClientCenter/.vs/OnixClientCenter/*
app_onix/onix_client/OnixClientCenter/bin/WisAutoUpdate.exe
app_onix/onix_client/OnixClientCenter/bin/Updater.exe
app_onix/onix_client/OnixClientCenter/bin/*.exe
app_onix/onix_client/OnixClientCenter/bin/onix.xml
app_onix/onix_client/OnixClientCenter/bin/onix.xml*
app_onix/onix_client/OnixClientDll/bin/Debug/.*
app_onix/onix_client/OnixClientDll/obj/Debug/.*
app_onix/onix_client/OnixClientDll/bin/*
app_onix/onix_client/OnixClientDll/obj/*
app_onix/*.zip
app_onix/*.tmp
app_onix/*.bak
app_onix/onix_theme/Onix.Themes.Demo/bin/*
app_onix/onix_theme/Onix.Themes.Demo/obj/*
app_onix/onix_theme/Onix.Themes/obj/*
app_onix/onix_theme/Onix.Themes/obj/*
build/*
build_and_run.bash